[Unit]
Description = uploader

[Service]
ReadOnlyDirectories = /
ReadWriteDirectories = /var/www/images
ExecStart = /home/admin/uploader
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target
